<a href="https://colab.research.google.com/github/mathiasfls/Foundations-of-Cultural-and-Social-Data-Analysis/blob/main/3_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#Week 3

## Assignment: Pandas filtering (**Part One**)

**Instructions:**

In this assignment, you will be given five datasets with filtering tasks.

**Submission:**

Submit the Python code in a zip file. Also, write a brief report explaining all the steps taken by the group.

### Dataframe 1

In [ ]:
import pandas as pd
import numpy as np

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Gina', 'Hank'],
        'Age': [25, 32, 18, 47, 53, 21, 37, 28],
        'Gender': ['F', 'M', 'M', 'M', 'F', 'M', 'F', 'M'],
        'Salary': [50000, 70000, 30000, 100000, 120000, 40000, 80000, 60000]}

df1 = pd.DataFrame(data)




1.   Filter the dataframe to only include individuals with a salary greater than $50,000
2.   Filter the dataframe to only include females with an age greater than 25

In [ ]:
#Solution:

### Dataframe 2

In [ ]:
import pandas as pd
import numpy as np

# create DataFrame 2
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Gina', 'Hank'],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Philadelphia', 'Phoenix', 'San Antonio', 'San Diego'],
        'State': ['NY', 'CA', 'IL', 'TX', 'PA', 'AZ', 'TX', 'CA'],
        'Population': [8336817, 3977683, 2693976, 2320268, 1584064, 1563025, 1547253, 1425976]}

df2 = pd.DataFrame(data)



1.   Filter the dataframe to only include cities in California
2.   Filter the dataframe to only include cities with a population greater than 2 million in descending order

In [ ]:
#solution:

### Dataframe 3

In [ ]:
import pandas as pd
import numpy as np

# create DataFrame 3
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Gina', 'Hank'],
        'Language': ['Python', 'R', 'Python', 'Python', 'R', 'Python', 'Python', 'R'],
        'Level': ['Beginner', 'Intermediate', 'Beginner', 'Expert', 'Beginner', 'Intermediate', 'Expert', 'Intermediate'],
        'Age': [25, 32, 18, 47, 53, 21, 37, 28]}

df3 = pd.DataFrame(data)



1.   Filter the dataframe to only include individuals who know Python
2.   Filter the dataframe to only include individuals who are both experts in Python and are over the age of 30

In [ ]:
#solution

### Dataframe 4

In [ ]:
import pandas as pd
import numpy as np

# create DataFrame 4
data = {'Product': ['Apple', 'Banana', 'Cherry', 'Date', 'Elderberry', 'Fig', 'Grapes', 'Honeydew'],
        'Category': ['Fruit', 'Fruit', 'Fruit', 'Fruit', 'Fruit', 'Fruit', 'Fruit', 'Fruit'],
        'Price': [0.25, 0.40, 0.50, 0.10, 0.75, 0.60, 0.30, 1.00]}

df4 = pd.DataFrame(data)



1.   Filter the dataframe to only include products with a price greater than 0.50 
2.   Filter the dataframe to only include products in the 'Fruit' category with a price greater than $0.40 in alphabetical order

In [ ]:
#solution

### Dataframe 5

In [ ]:
import pandas as pd
import numpy as np

# create DataFrame 5
data = {'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Philadelphia', 'Phoenix', 'San Antonio', 'San Diego'],
        'State': ['NY', 'CA', 'IL', 'TX', 'PA', 'AZ', 'TX', 'CA'],
        'Population': [8336817, 3977683, 2693976, 2320268, 1584064, 1563025, 1547253, 1425976],
        'Land_Area_SqMi': [468.9, 502.7, 227.3, 599.6, 134.1, 517.6, 461.0, 372.4]}

df5 = pd.DataFrame(data)



1.   Filter the dataframe to only include cities with a population greater than 2 million and a land area less than 500 square miles
2.   Filter the dataframe to only include cities in California or Texas with a population density greater than 5000 people per square mile in descending order

In [ ]:
#solution

## Assignment: Pivot Tables (**Part two**)

**Instructions:**
In this assignment, you will be given five datasets with pivot tables tasks.

**Submission:**

Please complete the assignments provided above. For each tasks, include the following:

    The code used to create the DataFrame and pivot table
    The answer to each task question
    Any necessary explanation or justification for your answers

### Dataframe 1

In [ ]:
import pandas as pd
import numpy as np

# create DataFrame
data = {'Name': ['John', 'Alice', 'Bob', 'John', 'Alice', 'Bob', 'John', 'Alice'],
        'Year': [2018, 2018, 2018, 2019, 2019, 2019, 2020, 2020],
        'Grade': ['A', 'B', 'C', 'B', 'B', 'C', 'A', 'B'],
        'Score': [80, 75, 60, 85, 78, 64, 90, 82]}

df = pd.DataFrame(data)



1.   Create a pivot table that shows the average score for each student over all years.
2.   Create a pivot table that shows the minimum, maximum, and average scores for each student for each year.

In [ ]:
#solution

### Dataframe 2

In [ ]:
import pandas as pd
import numpy as np

# create DataFrame
data = {'Name': ['John', 'Alice', 'Bob', 'John', 'Alice', 'Bob', 'John', 'Alice'],
        'Year': [2018, 2018, 2018, 2019, 2019, 2019, 2020, 2020],
        'Subject': ['Math', 'Math', 'Math', 'Science', 'Science', 'Science', 'Math', 'Science'],
        'Score': [80, 75, 60, 85, 78, 64, 90, 82]}

df = pd.DataFrame(data)
print(df)

    Name  Year  Subject  Score
0   John  2018     Math     80
1  Alice  2018     Math     75
2    Bob  2018     Math     60
3   John  2019  Science     85
4  Alice  2019  Science     78
5    Bob  2019  Science     64
6   John  2020     Math     90
7  Alice  2020  Science     82



1.   Create a pivot table that shows the average score for each subject for each year.
2.   Create a pivot table that shows the maximum score for each subject for each student.

In [ ]:
#solution

### Dataframe 3

In [ ]:
import pandas as pd
import numpy as np

# create DataFrame
data = {'Name': ['John', 'Alice', 'Bob', 'John', 'Alice', 'Bob'],
        'Subject': ['Math', 'Math', 'Math', 'Science', 'Science', 'Science'],
        'Score': [80, 75, 60, 85, 78, 64]}

df = pd.DataFrame(data)
print(df)

    Name  Subject  Score
0   John     Math     80
1  Alice     Math     75
2    Bob     Math     60
3   John  Science     85
4  Alice  Science     78
5    Bob  Science     64

1.   Create a pivot table that shows the total score for each student.
2.   Create a pivot table that shows the total score for each subject.

In [ ]:
#solution

### Dataframe 4

In [ ]:
import pandas as pd
import numpy as np

# create DataFrame
data = {'Name': ['John', 'Alice', 'Bob', 'John', 'Alice', 'Bob'],
        'Subject': ['Math', 'Math', 'Science', 'Science', 'Science', 'Science'],
        'Year': [2018, 2018, 2018, 2019, 2019, 2019],
        'Score': [80, 75, 85, 78, 64, 89]}

df = pd.DataFrame(data)
print(df)

    Name  Subject  Year  Score
0   John     Math  2018     80
1  Alice     Math  2018     75
2    Bob  Science  2018     85
3   John  Science  2019     78
4  Alice  Science  2019     64
5    Bob  Science  2019     89

1.   Create a pivot table that shows the average score for each subject for each year.
2.   Create a pivot table that shows the total score for each student for each year.

In [ ]:
#solution

### Dataframe 5

In [ ]:
import pandas as pd
import numpy as np

# create DataFrame
data = {'Name': ['John', 'Alice', 'Bob', 'John', 'Alice', 'Bob'],
        'Subject': ['Math', 'Math', 'Science', 'Science', 'Science', 'Science'],
        'Year': [2018, 2018, 2018, 2019, 2019, 2019],
        'Score': [80, 75, 85, 78, 64, 89]}

df = pd.DataFrame(data)
print(df)

    Name  Subject  Year  Score
0   John     Math  2018     80
1  Alice     Math  2018     75
2    Bob  Science  2018     85
3   John  Science  2019     78
4  Alice  Science  2019     64
5    Bob  Science  2019     89

1.   Create a pivot table that shows the average score for each subject for each year.
2.    Create a pivot table that shows the maximum score for each subject for each year.

In [ ]:
#solution