<a href="https://colab.research.google.com/github/mathiasfls/Foundations-of-Cultural-and-Social-Data-Analysis/blob/main/assignments/4_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Week 4

## Assignment: Combining Data

Instructions:

In this assignment, you will work with two dataframes - "Online Products" and "Reviews". The Online Products dataframe contains information about the products available for sale online. The Reviews dataframe contains customer reviews of the products.

Your task is to use the join() method in Pandas to combine these two dataframes based on a common column, "product_id". You will use the three types of joins - left, right, and inner - to accomplish different tasks.

**Submission:**

    Create a Python script containing your solution to the three tasks.
    Ensure that your script can be executed and produces the expected output when run.
    Save your script with a meaningful name, such as "pandas_join_assignment.py".
    Submit your script via your preferred method, such as email or an online code repository.

**Dataframe 1**

In [ ]:
import pandas as pd

products = {
    "product_id": [101, 102, 103, 104, 105],
    "product_name": ["Keyboard", "Mouse", "Monitor", "Headphones", "Webcam"],
    "product_price": [20, 10, 100, 50, 30],
    "product_category": ["Computer Accessories", "Computer Accessories", "Monitors", "Audio", "Computer Accessories"]
}

online_products = pd.DataFrame(products)
print(online_products)

   product_id product_name  product_price      product_category
0         101     Keyboard             20  Computer Accessories
1         102        Mouse             10  Computer Accessories
2         103      Monitor            100              Monitors
3         104   Headphones             50                 Audio
4         105       Webcam             30  Computer Accessories

**Dataframe 2**

In [ ]:
reviews = {
    "review_id": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "product_id": [101, 101, 103, 105, 102, 105, 103, 101, 105, 104],
    "review_rating": [4, 5, 3, 2, 4, 5, 2, 5, 1, 3],
    "review_text": ["Great keyboard", "Best keyboard ever", "Average monitor", "Terrible webcam", "Nice mouse", 
                    "Amazing webcam", "Poor monitor", "Excellent keyboard", "Worst webcam ever", "Okay headphones"]
}

reviews_df = pd.DataFrame(reviews)
print(reviews_df)

   review_id  product_id  review_rating         review_text
0          1         101              4      Great keyboard
1          2         101              5  Best keyboard ever
2          3         103              3     Average monitor
3          4         105              2     Terrible webcam
4          5         102              4          Nice mouse
5          6         105              5      Amazing webcam
6          7         103              2        Poor monitor
7          8         101              5  Excellent keyboard
8          9         105              1   Worst webcam ever
9         10         104              3     Okay headphones

**Tasks**

**Task 1**

Join the Online Products and Reviews dataframes using a left join. The resulting dataframe should include all the records from the Online Products dataframe and only the matching records from the Reviews dataframe.

In [ ]:
#solution:

**Task 2**

Join the Online Products and Reviews dataframes using a right join. The resulting dataframe should include all the records from the Reviews dataframe and only the matching records from the Online Products dataframe.

In [ ]:
#solution

**Task 3**

Join the Online Products and Reviews dataframes using an inner join. The resulting dataframe should include only the matching records from both dataframes.

In [ ]:
#solution